@import '@/styles/mixins';

.modalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.controls {
  width: 125px;
  text-align: center;

  .buttons {
    @include flex(row, 0, 12px, center, center);
  }
}
