@import '@/styles/mixins';

.trigger {
  cursor: pointer;
  background: inherit;
  border: none;
  outline: none;
}

.btn {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 0;

  background: transparent;
  border: none;
  border-radius: 50%;
}

.content {
  @include flex(column, 0, 0, flex-start);

  will-change: transform, opacity;

  position: relative;

  margin-top: 10px;
  padding: 12px;

  color: var(--color-light-100);

  background: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;
}

.content::after {
  content: '';

  position: absolute;
  top: -6px;
  right: 13px;
  transform: rotate(45deg);

  width: 11px;
  height: 11px;

  background: var(--color-dark-700);
  border-top: 1px solid var(--color-dark-500);
  border-left: 1px solid var(--color-dark-500);
}

.item {
  @include flex(row, 0, 0, center);

  cursor: pointer;
  user-select: none;

  position: relative;

  gap: 0.625rem;

  width: 100%;
  padding: 12px 0;

  outline: none;

  fill: var(--color-light-100);

  transition: all 0.3s;
}

.item::before {
  content: '';

  position: absolute;
  bottom: 0;

  display: block;

  width: 100%;
  height: 1px;

  border-bottom: 1px solid var(--color-dark-500);
}

.item:last-child::before {
  display: none;
}

.item:first-child {
  padding: 0 0 12px;
}

.item:last-child {
  padding: 12px 0 0;
}

.profileBlock {
  padding-bottom: 12px;
  outline: none;
}

.profileBlock::before {
  content: '';

  position: absolute;
  bottom: 95px;

  display: block;

  width: 88%;
  height: 1px;

  border-bottom: 1px solid var(--color-dark-500);
}
