@import '@/styles/mixins';

.overlay {
  position: fixed;
  inset: 0;
  opacity: 0.5;
  background-color: var(--color-dark-900);
}

.root {
  @include flex(column, 0, 0, stretch, center);
  @include container(530px);

  position: fixed;
  inset: 0;

  .card {
    padding: 0;

    .header {
      @include flex(row, 0, 24px, center, space-between);

      padding: 18px 24px;
      border-bottom: 1px solid var(--color-dark-500);
    }

    .content {
      padding: 24px;
    }
  }
}
